<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key = 'name' value = 'Server1'></add>
        <add key = 'size' value = '2.5'></add>
        <add key = 'dbConfig' value = 'Server=127.0.0.1;Port=5432;User Id=postgres;Password=postgres;Database=postgres;'></add>
    </appSettings>
</configuration>